asgiref==3.11.1
Django==6.0.5
django-cors-headers==4.9.0
django-stubs==6.0.4
django-stubs-ext==6.0.4
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
et_xmlfile==2.0.0
gunicorn==26.0.0
include==0.2.2
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
psycopg2==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260510
typing_extensions==4.15.0
tzdata==2026.2
